<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{background-color: darkolivegreen}
    div{
        width: 222px;
        margin: 200px auto;
    }
    .ip{
        width: 220px;
        height: 20px;
        display: block;
        background-color: lightslategrey;
    }
    span{
        width: 50px;
        height: 20px;
        margin-left: 0px;
    }
</style>
<body>
<div>
    <form action="/aliPay/goPay/" method="post" accept-charset="utf-8">
        <h2>开始你的表演:</h2>
        <span>金额：</span><input type="text" name="money" value="10"/>
        <br/><br/>
        <input type="submit" class="ip" value="赞赏">
    </form>
</div>

</body>
</html>