<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        margin: 0px;
        padding: 0px;
    }
    div{
        width: 50%;
        height: 500px;
        display: block;
        margin: 0px auto;
    }
    form{
        width: 50%;
        height: 100px;
        display: block;
        margin: 200px auto;
    }
</style>
<body>
<form action="/user/loginCheck" method="post">
    姓名:<input type="text" name="name" /><br/><br/>
    年龄:<input type="text" name="age" /><br/><br/>
    <input type="submit" value="登录">
</form>
</body>
</html>