<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>
<style>
    body{
        margin: 0px;
        padding: 0px;
    }
    div{
        width: 50%;
        height: 500px;
        display: block;
        margin: 0px auto;
    }
    form{
        width: 50%;
        height: 100px;
        display: block;
        margin: 200px auto;
    }
</style>
<body>
<div>
    <form action="/add" method="post">
        姓名:<input type="text" name="name" /><br/><br/>
        年龄:<input type="text" name="age" /><br/><br/>
        <input type="submit" value="注册">
    </form>
</div>
</body>
</html>